
[PoC_Lab]아이펠톤 프로젝트 계획서sunhuai_v5.docx
*.pyc
*.crc
*.csv
enwiki-latest-abstract.xml
readme2.md
readme.ipynb
*.parquet
.cache/
.ivy2/
cache_pretrained/
resources/
Spark/metastore_db
Spark/spark-warehouse
Spark/.cache
Spark/.local
Spark/data.example
Data/
metastore_db/
.local/
Models/haystack/
Spark/data/
.javacpp/
*.json