{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- {% for category in categories %}
   <a href="{{ category.get_absolute_url }}">{{ category.title  }}</a>  </li>
{% endfor %} -->

<!-- <ul>
{% for article in articles %}
    <li>{{ article.last_updated|date }} -   <a href="{{ article.get_absolute_url }}">{{ article.title  }}</a>  category:{{article.category}}</li>
{% empty %}
    <li>No articles yet.</li>
{% endfor %}
</ul> -->
<ol>{% for article in verses %}
  <li> <a href="{{ article.get_absolute_url }}">{{ article.name  }}</a> {{ article.text  }} </li>
  
{% endfor %}
</ol>

<div class="pagination">
  <span class="step-links">
      {% if page_obj.has_previous %}
          <a href="?page=1">&laquo; first</a>
          <a href="?page={{ articles.previous_page_number }}">previous</a>
      {% endif %}

      <span class="current">
          Page {{ articles.number }} of {{ articles.paginator.num_pages }}.
      </span>

      {% if articles.has_next %}
          <a href="?page={{ articles.next_page_number }}">next</a>
          <a href="?page={{ articles.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
  </span>
</div>



    <!-- 为 ECharts 准备一个定义了宽高的 DOM -->
    <div id="main" style="width: 600px;height:400px;"></div>
    <script type="text/javascript">
      // 基于准备好的dom，初始化echarts实例
      myChart.showLoading();
$.getJSON('/Users/gloria/Documents/GitHub/AiKnowledge/mysite/static/les-miserables.json', function (graph) {
  myChart.hideLoading();
  option = {
    tooltip: {},
    legend: [
      {
        data: graph.categories.map(function (a) {
          return a.name;
        })
      }
    ],
    series: [
      {
        name: 'Les Miserables',
        type: 'graph',
        layout: 'none',
        data: graph.nodes,
        links: graph.links,
        categories: graph.categories,
        roam: true,
        label: {
          show: true,
          position: 'right',
          formatter: '{b}'
        },
        labelLayout: {
          hideOverlap: true
        },
        scaleLimit: {
          min: 0.4,
          max: 2
        },
        lineStyle: {
          color: 'source',
          curveness: 0.3
        }
      }
    ]
  };
  myChart.setOption(option);
});

    </script>

{% endblock %}



