aiohttp==3.8.3
aiosignal==1.3.1
apache-beam==2.42.0
appdirs==1.4.4
asgiref==3.5.2
async-timeout==4.0.2
Automat==22.10.0
click==8.1.3
cloudpickle==2.1.0
constantly==15.1.0
crcmod==1.7
cssselect==1.2.0
datasets==2.6.1
dill==0.3.1.1
Django==4.1.3
django-appconf==1.0.5
django-crispy-forms==1.14.0
django-extensions==3.2.1
django-haystack==3.2.1
django-mdeditor==0.1.20
django-neomodel==0.0.7
django-parler==2.3
django-redis==5.2.0
django-resized==1.0.2
django-rosetta==0.9.8
django-select2==8.0.0
django-shell-plus==1.1.7
django-tinymce==3.5.0
django-user-language-middleware==0.0.3
docopt==0.6.2
fastavro==1.7.0
filelock==3.8.0
frozenlist==1.3.3
fsspec==2022.10.0
grpcio==1.50.0
hdfs==2.7.0
httplib2==0.20.4
huggingface-hub==0.10.1
hyperlink==21.0.0
incremental==22.10.0
interchange==2021.0.4
ipython-genutils==0.2.0
ipywidgets==8.0.2
itemadapter==0.7.0
itemloaders==1.0.6
jmespath==1.0.1
joblib==1.2.0
jupyter==1.0.0
jupyter-console==6.4.4
jupyter-contrib-core==0.4.0
jupyter-contrib-nbextensions==0.5.1
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.5.0
jupyterlab-widgets==3.0.3
lxml==4.9.1
Markdown==3.4.1
monotonic==1.6
multidict==6.0.2
multiprocess==0.70.13
neo4j-driver==4.3.6
neobolt==1.7.17
neomodel==4.0.8
nltk==3.7
numpy==1.22.4
orjson==3.8.1
pandas==1.5.1
pansi==2020.7.3
parsel==1.7.0
parso==0.8.3
Pillow==9.3.0
polib==1.1.1
Protego==0.2.1
proto-plus==1.22.1
protobuf==3.20.3
psutil==5.9.3
psycopg2-binary==2.9.5
ptpython==3.0.20
py2neo==2021.2.3
py4j==0.10.9.5
pyarrow==7.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyDispatcher==2.0.6
pydot==1.4.2
pymongo==3.13.0
PyMySQL==1.0.2
pyspark==3.3.1
PyYAML==6.0
qtconsole==5.4.0
QtPy==2.2.1
queuelib==1.6.2
redis==4.4.0
regex==2022.10.31
requests-file==1.5.1
responses==0.18.0
rosetta==0.3
scipy==1.9.3
Scrapy==2.7.1
service-identity==21.1.0
Shapely==1.7.1
sqlparse==0.4.3
tldextract==3.4.0
tqdm==4.64.1
Twisted==22.10.0
urllib3==1.26.12
w3lib==2.0.1
webencodings==0.5.1
widgetsnbextension==4.0.3
xxhash==3.1.0
yarl==1.8.1
zope.interface==5.5.1
zstandard==0.19.0
