{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <h2>Password Reset Confirm</h2><hr>
        <p>Please enter your new password.</p>
        <form method="POST" novalidate>
            {% csrf_token %}
            <div class="row">
                <div class="col-6">
                  {{ form.new_password1|as_crispy_field }}
                </div>
                <div class="col-6">
                  {{ form.new_password2|as_crispy_field }}
                </div>
              </div>
          
            <button class="btn btn-success" type="submit">Reset password</button>
        </form>
    </div>
{% endblock %}